*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 20px #000000;
    background-color: #8b8a8a;
    background-image: url(../imagens/pexels-cottonbro-studio-3826433.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 130vh;
}
    header{
        padding: 5px;
        height: 16vh;
        width: 98vw;
        display: flex;
        float: left;
        background-color: #00000060;
        box-shadow: 1px 1px 10px #000;  
    }
        .logo{  
            margin: 15px 130px;
            padding-left: 8px;
            height: 100%;
            max-height: 13vh;
            width:100%;
            max-width: 25vw;
            display: flex;
            justify-content: center;
        }
            .logo img{  
                margin: 0 12px;
                height: 10vh;
                width: 5vw;
            }
            .logo a{
                margin:  22px 2px ;
                padding: 1px;
                height: 7vh;
                width: 18vw;
                font-size: 30px;
                font-family:  'Arial Narrow Bold', sans-serif;
                text-shadow: 1px 1px 20px #030100;
                text-decoration: none;
                color: #ffffff;
            }
    nav{
        margin: 5px 330px;
        height: 12vh;
        width: 14.5vw;
        display: flex; 
    }
        .return{
            margin: 40px 10px;
            height: 4vh;
            width: 4vw;
        }
        .button-return {
            height: 4vh;
            width: 4vw;
            list-style-type: none;
            box-shadow: 13px 1px 15px  #000000;
        }
            .button-return a{
                margin: 2px;
                padding: 2px;
                border: 3px solid #ffffff;
                border-radius: 4px;
                height: 4vh;
                width: 4vw;
                text-align: center;
                text-decoration: none;
                font-size: 25px;
                font-family: Arial;
                color: #ffffff;
                cursor: pointer;
                background-color: #c78d53;   
            }
            .button-return a:hover{
                height: 4vh;
                width: 4vw;
                background-color: #bc8248;
                cursor: pointer;
            }
        .contact{
            margin: 35px 50px;
            height: 5vh;
            list-style-type: none;
            display: flex;
        }
            .contact li{
                margin: 0 8px;
                height: 5vh;
                width: 2.5hw; 
            }
                .contact-1 img{ 
                    height: 6vh;
                    width: 3vw;
                }
                    .contact-1 img:hover{
                        content: url(/imagens/whatsap-cursor.png);
                    }
                .contact-2 img{
                    height: 6vh;
                    width: 3vw;
                }
                    .contact-2 img:hover{
                        content: url(/imagens/instagram-cursor.png);
                    }
.corpo{
    margin: 30px 10px;
    padding: 0px 100px;
    height: 90vh;
    width: 180vh;
    display:flex;
    justify-content:space-around;  
}
    .coffee{
        margin: 30px 0px;
        padding: 0 10px;
        height: 85vh;
        width: 30vw;
        background-color: #00000060;
        box-shadow: 1px 1px 20px #000000;
        }
        .coffee ol{
            margin: 6px 0;
        }
        .coffee li{
            margin: 1px 3px;
            padding: 1px;
            height: 23vh;
            width: 25vw;
            display: flex;
            list-style: none;
            font-style: italic;
            font-size:15px;
            color: #ffffff;
            text-shadow: 1px 1px 5px #000;
            background-color: #c78d53b1;
            border: 1px solid #0000003b;
            box-shadow: 1px 1px 4px #000; 
        }
            .coffee .ilustração{
                height: 142px;
                width: 135px;  
            }
                .coffee img{
                    height: 142px;
                    width: 134px;
                    box-shadow: 1px 1px 4px #000000;
                }
                    .coffee img:hover{
                        transform: scale(1.5); 
                        cursor: pointer;
                    }
            .coffee-1{
                margin: 0;
                padding: 5px 10px;
                display: flex; 
            }
            .coffee-2{
                margin: 0;
                padding: 5px 10px;
                display: flex;    
            }
            .coffee-3{
                margin: 0;
                padding: 5px 10px;
                display: flex;  
            }
                
    .sandwiches{
        margin: 25px 0px;
        padding: 0 10px;
        height: 85vh;
        width: 30vw;
        background-color: #00000060;
        box-shadow: 1px 1px 20px #000000;
        }
        .sandwiches ol{
            margin: 6px 0;
        }
        .sandwiches li{
            margin: 1px 3px;
            padding: 1px;
            height: 23vh;
            width: 25vw;
            display: flex;
            list-style: none;
            font-style: italic;
            font-size:15px;
            color: #ffffff;
            text-shadow: 1px 1px 5px #000000;
            background-color: #c78d53b1;
            border: 1px solid #0000003b;
            box-shadow: 1px 1px 4px #000;
        }
            .sandwiches .ilustração{
                height: 142px;
                width: 135px; 
            }
                .sandwiches img{
                    height: 142px;
                    width: 134px;
                    box-shadow: 1px 1px 4px #000000;
                }
                    .sandwiches img:hover{
                        transform: scale(1.5); 
                        cursor: pointer;
                        border-radius: 5px;
                    }
            .sandwiches-1{
                margin: 0;
                padding: 5px 10px;
                display: flex;
            }
            .sandwiches-2{
                margin: 0;
                padding: 5px 10px;
                display: flex;
            }
            .sandwiches-3{
                margin: 0;
                padding: 5px 10px;
                display: flex;
            }
    footer{
        margin: 0;
        padding: 10px 0;
        padding-bottom: 20px;
        padding-top: 10px;
        box-shadow: 1px 1px 10px;
        display: flex;
        background-color: #00000060;
        justify-content: center;
    }
    h1{
        margin: 5px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Times New Roman';
        font-style: italic;
        text-shadow: 1px 1px 5px #000;
    }
    a{
        text-decoration: none;
        color: #c78d53;
    }
    @media screen and (max-width: 1024px)
    {
                            
                
    }    
    @media screen and (max-width: 992px)
    {
    
         
    }
    @media screen and (max-width: 820px)
    {
    
    }
    
    @media screen and (max-width: 768px)
    {
    
                   
    }
    
    @media screen and (max-width: 600px)
    {
    
    }
    @media screen and (max-width: 480px)
    {
    
  
    }
    @media screen and (max-width: 414px)
    {
  
        
    }
    
    @media screen and (max-width: 360px)
    {
      
    }
        